/* John Stirrat
CPSC 332 Web Development
HW5 - Breakout App
Last Modified 11/7/22 */

* {
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: rgb(99, 99, 98);
}

canvas {
    background: rgb(138, 20, 20);
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

.container {
    border: 5px dotted rgb(255, 0, 0);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 10%;
    color: white;
    display: grid;
    max-width: 300px;
}

.button {
    background-color: rgb(255, 238, 0);
    border: 1px solid rgb(138, 20, 20);
    color: rgb(138, 20, 20);
    width: 49%;
}

#pause,
#reload, 
.multi-button {
    width: 100%;
}

#slider-label {
    color: rgb(255, 238, 0);
    ;
}